

.about{
    height: 1300px;
    width: 100%;
}

    .about_container{
        margin-left: 140px;
        margin-right: 140px;
        width: 100%;
        height: 1200px;
    }

        .about_container_1{
            height: 550px ;
        }

            .about_text{
                width: 54%;
                height: 550px;
                float: left;
            }

                .about_sub_title {
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--color-rojo-logo);
                }
                .about_text h2, .about_text h3 {
                    margin-bottom: 10px;
                    font-weight: 700;
                }
                .about_text p {
                    font-size: 14px;
                    text-align: justify;
                    line-height: 1.5;
                    margin-bottom: 15px;
                }

                .about_mision, .about_vision{
                    width: 48%;
                    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                }

                .about_mision{
                    float: left;
                }
                .about_vision{
                    float: right;
                }

                    .about_objective_center{
                        margin-right: 13px;
                        margin-left: 13px;
                        margin-top: 10px;
                    }


            .about_img{
                width: 40%;
                height: auto;
                float: right;
            }

                .about_img img{
                    width: 100%;
                    height: 450px;
                }

        
        .about, .about_container_2, .about_container_3{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .about_container_2{
            height: 150px;
            background-color: rgba(211, 211, 211, 0.342);
        }

            .about_funfact{
                display: flex;
                height: 120px;
                width: 100%;
            }

                .about_funfact_block{
                    width: 25%;
                    text-align: center;
                }

                    .about_funfact_icon{
                        margin-bottom: 8px;
                    }

                        .about_funfact .fa-users, .about_funfact .fa-tools, .about_funfact .fa-trophy,.about_funfact .fa-medal{
                            font-size: 45px;
                            color:  var(--color-rojo-logo);
                        }
                        .counter{
                            font-size: 30px;
                        }
            

        .about_container_3{
            height: 500px;
        }

            .about_video{
                height: 315px;
                width: 100%;
                text-align: center;
            }


/* Seccion About Responsive */
@media screen and (max-width: 1150px ){
    .about, .about_container{
        height: auto;
    }
        .about_container_1{
            height: 950px ;
            margin-top: 30px;
        }

            .about_text, .about_img{
                width: 100%;
                float: none;
            }
            .about_text {
                height: 370px;
                margin-bottom: 1rem;
            }

            .about_img{
                text-align: center;
            }
                .about_img img{
                    width: auto;
                }
}


@media screen and (max-width: 940px ){
    .about_container{
        margin-left: 0px;
        margin-right: 0px;
        width: 80%;
    }
}

@media screen and (max-width: 800px ){
    .about_container{
        width: 90%;
    }
}

@media screen and (max-width: 710px ){
    .about_text {
        height: 450px;
    }
}

@media screen and (max-width: 630px ){
    .about_video iframe{
        width: 90%;
    }
}

@media screen and (max-width: 530px ){
    .about_container_1{
        height: 1100px;
    }

        .about_text{
            height: 550px;
            margin-bottom: 0;
        }
            .about_mision, .about_vision{
                width: 100%;
                float: none;
            }

            .about_img img{
                width: 90%;
            }


            .about_funfact .fa-users, .about_funfact .fa-tools, .about_funfact .fa-trophy,.about_funfact .fa-medal{
                font-size: 35px;
            }
            .counter{
                font-size: 20px;
            }
        


    .about_container_3{
        height: 300px;
    }

        .about_video{
            height: auto;
        }
            .about_video iframe{
                width: auto;
                height: auto;
            }

}


@media screen and (max-width: 400px ){
    .about_container_1{
        height: 1200px;
    }

        .about_text{
            height: auto;
        }

        .about_img{
            margin-top: 20px;
        }

            .about_img img{
                width: 100%;
            }


    .about_container_2{
        height: auto;
    }
        .about_funfact{
            display: block;
            height: auto;
        }
            .about_funfact_block{
                width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }
                .counter p{
                    font-size: 10px;
                }
    
            .about_video iframe{
                width: 100%;
            }

}

@media screen and (max-width: 300px ){
    .about_container_1{
        height: auto;
    }
}



