

/* Efecto desde la derecha*/
.derecha{
	opacity: 0;
}
.fadeRight{
	opacity: 1;
    animation: fadeRight 1s;
}

@keyframes fadeRight {
	0% {
		transform: translateX(20px);
	}
	to {
		transform: translateX(0);
	}
}


/* Efecto para mostrar elementos */
.mostrar{
	opacity: 0;
	transition: all 1s;
}
.fadeMostrar{
	opacity: 1;
}

/* Efecto para mostrar elementos por 4s*/
.mostrar4s{
	opacity: 0;
	transition: all 4s;
}
.fadeMostrar4s{
	opacity: 1;
}



/* Efecto desde la izquierda */
.izquierda{
	opacity: 0;
}
.fadeLeft{
	opacity: 1;
    animation: fadeLeft 1s;
}

@keyframes fadeLeft {
	0% {
		transform: translateX(-20px);
	}
	to {
		transform: translateX(0);
	}
}



/* Animacion hacia abajo */
.abajo{
	opacity: 0;
}
.fadeAbajo{
	opacity: 1;
    animation: fadeAbajo 1s;
}
@keyframes fadeAbajo{
	0% {
	  transform: translateY(-20px);
	}
	100% {
	  transform: translateY(0);
	}
}


/* Animacion hacia arriba */
.arriba{
	opacity: 0;
}
.fadeArriba{
	opacity: 1;
    animation: fadeArriba 1s;
}
@keyframes fadeArriba{
	0% {
	  transform: translateY(80px);
	}
	100% {
	  transform: translateY(0);
	}
}
