
.precios_cards{
    width: 23.1%;
    background: #fff;
    padding: 24px;
    position: relative;
    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
    border-radius: 16px;
    transition: all .35s ease-in-out;
    border: 2px solid transparent;
    
  }

    .precios_cards:hover{
      border: 1px solid var(--color-rojo-logo);
    }

      .precios_card_head h5 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
      }

      .precios_card_precio h2{
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 30px;
      }

      .precios_card_precio span{
        font-size: 14px;
        font-weight: 400;
        color: #666;
        margin-top: 5px;
      }



      .precios_card_items{
        margin-top: 15px;
      }
        .precios_card_items ul{
          list-style: none;
          display: inline-block;
          text-align: left;
        }

          .precios_card_items ul li{
            font-size: 12px;
            margin-bottom: 8px;
            color: #666;
          }

            .precios_card_items .fa-check{
              margin-right: 8px;
              color: #00d664;
              font-size: 12px;
            }

            .precios_card_items .fa-times{
              color: red;
              margin-right: 12px;
              font-size: 12px;
            }


      .precios_card_boton{
        text-align: center;
        margin-top: 10px;
      }

        .precios_card_boton button{
          border-radius: 8px;
          padding: 8px 25px;
          background-color: var(--color-rojo-logo);
          border: 2px solid var(--color-rojo-logo);
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }


/* Seccion Precios responsive */
@media screen and (max-width: 1200px ){
  .precios_cards {
    width: 40%;
  }

}

@media screen and (max-width: 600px ){
  .precios_cards {
    width: 60%;
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 400px ){
  .precios_cards {
    width: 80%;
  }

}