


.clientes{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .clientes_container{
        width: 100%;
        height: 160px;
        margin-left: 140px;
        margin-right: 140px;
        overflow: hidden;
    }

        .clientes_title {
            height: 60px;
        }

            .clientes_title h2{
                text-align: center;
            }


        .clientes_sponsors{
            height: 100px;
            width: 100%;
        }

            .clientes_sponsors img{
                height: 100px;
                width: auto;
            }
            
            


