.slider{
  width: 100%;
  height: 570px;
  background-image: linear-gradient(
  rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)
  ),url('../img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

  .slider_container{
    height: 570px;
    margin-left: 140px;
    margin-right: 140px;
  }


    /* TEXTO DEL SLIDER*/
    .slider_container_left{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 570px;
      float: left;
    }

      .slider_text{
        margin-right: 100px;
      }

        .slider_text h2{
          text-align: left;
          font-size: 42px;
          color: var(--color-blanco-primary);
          font-weight: 800;
          line-height: 1.2;
          margin-bottom: 10px;
          animation: fadeArribaAbajotext 2s;
        }
        
        @keyframes fadeArribaAbajotext {
          0% {
            opacity: 0;
            transform: translateY(-20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .slider_text p {
          text-align: justify;
          color: var(--color-blanco-primary);
          animation: fadeLefttext 1s;
        }

        @keyframes fadeLefttext {
          0% {
            opacity: 0;
            transform: translateX(-20px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }




    /* FORMULARIO DEL SLIDER*/
    .slider_container_right{
      float: right;   
      width: 50%;
      height: 570px; 
    }
            
      .slider_form{
        width: 71%;
        margin-top: 70px;
        float: right;
        animation: fadeArribaAbajoform 1s;
      }

      @keyframes fadeArribaAbajoform {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

        .form-circle{
          color: #f8f9fa!important;
          box-sizing: border-box;
          text-align: center!important;
          padding: 35px 35px;
          background: #fff;
          border-radius: 16px;
        }


          .headform h4 {
            text-align: center!important;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 1.4;
            color: #0e2b3d;
            font-weight: 600;
              
          }

          .headform p {
            text-align: center;
            margin: 0 0 15px;
            font-weight: 400;
            line-height: 26px;
            font-size: 14px;
            color: #0e2b3d;
          }


        .resto-form{
          margin-right: -15px;
          margin-left: -15px;
          text-align: left;
        }

            .col{
              width: 100%;
              padding-right: 15px;
              padding-left: 15px;
            }

                .col button{
                  border: none!important;
                  cursor: pointer;
                  padding: 10px 25px;
                  border-radius: 30px;
                  color: var(--color-blanco-primary);
                  font-weight: 600;
                  margin-top: 10px;
                  width: 100%;
                  background: var(--color-rojo-logo);
                }
                

            .form-group{
              font-size: 10px;
              font-weight: 400;
              line-height: 24px;
              box-sizing: border-box;
              margin-bottom: 1rem;
            }

              .input-form-control{
                min-height: 30px;
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                padding: .375rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                border: none;
                border-bottom: 1px solid #e6e6e6;
              }

              .input-form-control:focus{
                outline: none;
              }


/* Slider responsive */
@media screen and (max-width: 1100px ){
  .slider{ margin-top: 90px;}
}


@media screen and (max-width: 1070px ){
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .slider_container{
    margin-left: 0px;
    margin-right: 0px;
    width: 80%;
  }

    .slider_container_left{
      justify-content: left;
    }
      .slider_text{
        margin-right: 0px;
        width: 80%;
      }

      .slider_form{
        width: 80%;
      }

}

@media screen and (max-width: 850px ){
.slider{
  height: 600px;
  display: block;
  align-items: none;
  justify-content: none;
}
  .slider_container{
    width: 100%;
    height: 600px;
  }

    .slider_container_left{
      width: 100%;
      height: 200px;
      float: none;
      justify-content: center;
    }

      .slider_text{
        width: 60%;
      }
        .slider_text h2{
          text-align: center;
          font-size: 35px;
          font-weight: bold;
          margin-bottom: 0;
        }
        .slider_text p{
          text-align: center;
        }

    .slider_container_right{
      width: 100%;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: none;   
    }
  
      .slider_form{
        width: 60%;
        float: none;
        margin-top: 0px;
      }
    
}


@media screen and (max-width: 800px ){
  .slider_text, .slider_form{
    width: 70%;
  }
}

@media screen and (max-width: 700px ){
.slider_text, .slider_form{
  width: 80%;
}
        
}

@media screen and (max-width: 550px ){
  .slider_form{
    width: 90%;
  }     
}

/* Para pantallas mas chicas */
@media screen and (max-width: 450px ){
.slider{
  overflow-x: hidden;
}
.slider, .slider_container{
  height: auto;
}
  .slider_container_left{
    height: auto;
  }
    .slider_text{
      margin-top: 40px;
      margin-bottom: 30px;
    }
  .slider_container_right{
    height: auto;
    margin-bottom: 40px;
  }

}
