

.ventajas{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),url('../img/img_ventajas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

    .ventajas_container{
        height: 670px;
        width: 100%;
        margin-left: 140px;
        margin-right: 140px;
    }

        .ventajas_title{
            text-align: center;
        }

            .ventajas_title h2{
                font-size: 22px;
                font-weight: 700;
                color: #fff;
                line-height: 1.2rem;
                text-transform: uppercase;
            }

        .ventajas_cards{
            margin-top: 40px;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }

            .cardv{
                width: 24%;
                height: 180px;
                background-color: rgba(255, 255, 255, 0.887);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
            }

                .cardv:hover{
                    border: 1px solid #0e2b3d;
                }


                .cardv_center{
                    margin-left: 15px;
                    margin-right: 15px;
                }

                    .cardv_icono{
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }

                        .cardv_icono_circle{
                            width: 60px;
                            height:60px;
                            line-height: 60px;
                            border-radius: 50%;
                            background-color: var(--color-rojo-logo);
                            text-align: center;
                            border: 2px solid white;
                        }


                    .cardv_text{
                        text-align: center;
                        height: 80px;
                    }

                        .cardv_text h3{
                            font-size: 13px;
                            text-transform: uppercase;
                            color: #0e2b3d;
                            font-weight: 700;
                            margin-bottom: 8px;
                            
                        }

                        .cardv_text p{
                            font-size: 11px;
                            color: #0e2b3d;
                        }


/* Seccion Ventajas responsive */
@media screen and (max-width: 1200px ){
    .ventajas{
        height: 1050px;
    }
        .ventajas_container{
            height: 850px;
        }
            .ventajas_cards{
                gap: 16px;
            }

                .cardv{
                    width: 32%;   
                }

}

@media screen and (max-width: 1090px ){
    .ventajas{
        height: 1500px; 
    }
        .ventajas_container{
            height: 1300px;
        }

                .cardv{
                    width: 48.777%;   
                }

}

@media screen and (max-width: 1000px ){
    .ventajas_container{
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 850px ){
    .cardv{
        width: 48.444%;   
    }

}


@media screen and (max-width: 670px ){
    .ventajas_container{
        width: 90%;
    }
}

@media screen and (max-width: 600px ){
    .ventajas{
        height: auto;
        overflow-x: hidden;
    }
        .ventajas_container{
            width: 90%;
            height: auto;
            margin-top: 60px;
            margin-bottom: 60px;
        }   
            .ventajas_cards{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: none;
                gap: none;
            }
                .cardv{
                    width: 100%;
                    height: auto;
                }

                    .cardv_icono{
                        width: auto;
                        height: auto;
                        margin-bottom: 10px;
                    }
                        .cardv_icono_circle{
                           margin-top: 20px;
                        }

                        .cardv_text{
                            width: auto;
                            height: auto;
                            margin-bottom: 20px;
                        }
                            .cardv_text h3, p{
                              font-size: 15px;
                            }

}
